<div class="contents_row">

  <p class="profile"><%= @user.nickname %>さんのプロフィール</p>

  <div class="user-content">

    <div class="left-info">
      <img src=<%= @user.image.url %> class = "icon_image">
    </div>

    <div class="right-info">
      <p class="game-top">よくプレイするゲーム</p>
      <% @user.games.each do |game| %>
        <div class="game-name">
          <%= simple_format(game.platform) %>
        </div>
      <% end %>
      <div class="text-box">
        <p><%= simple_format(@user.intro) %></p>
      </div>
    </div>

  </div>

  <div class="btns">
    <% if @user.id == current_user.id %>

    <% else %>
      <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>" class="chat-entry">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class: "chat-start" %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "ユーザー 一覧に戻る", users_path, class: "index-btn" %>
    <%= link_to "ゲーム登録", new_game_path %>
  </div>

</div>