<div class="contents_row">
  <p class="profile"><%= @user.nickname %>さんのプロフィール</p>
    <img src=<%= @user.image.url %> class = "icon_image">
    <% if @user.id == current_user.id %>

    <% else %>
      <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <%= f.submit "チャットを始める" %>
        <% end %>
      <% end %>
    <% end %>

  <%= link_to "ユーザー 一覧に戻る", users_path, class: "index-btn" %>
</div>