<div class="contents_row">

  <div class="container">
    <h2 class="edit-title">プロフィール編集</h2>

    <div class="detail">
      <%= form_with(model: @user, local: true) do |f| %>

        <div class="form-group">
        <%= f.label :nickname, 'ニックネーム' %><br>
        <%= f.text_field :nickname, autofocus: true, maxlength: "10", size: "20x28", class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= f.label :email, 'メールアドレス' %><br>
        <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image, 'ユーザー画像' %><br/>
          <%= f.file_field :image %>
        </div>

        <%= f.fields_for :games do |game| %>
          <div class="form-group">
            <%= game.label :name, 'ゲームタイトル' %><br>
            <%= game.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= game.label :platform, 'ゲームのハード' %>
            <%= game.select :platform, [["",""], ["PS4","PS4"], ["Switch","Switch"], ["Steam","Steam"]], {},   class: 'form-control' %>
          </div>
        <% end %>

        <div class="row">
        <div class="col-xs-6 form-group">
            <%= f.label :age, '年齢', class:'control-label' %>
            <%= f.select :age, [["",""], ["10代","10"], ["20代","20"], ["30代","30"], ["40代","40"], ["50代","50"], ["60代","60"], ["70代以上","70"] ], {},   class: 'form-control' %>
        </div>

        <div class="col-xs-6 form-group">
            <%= f.label :sex, '性別', class:'control-label' %>
            <%= f.select :sex, [["",""], ["女性","女性"], ["男性","男性"]], {},   class: 'form-control' %>
        </div>

        <div class="col-xs-6 form-group">
            <%= f.label :voice, 'ボイスチャット', class:'control-label' %>
            <%= f.select :voice, [["",""], ["あり","あり"], ["なし","なし"]], {},   class: 'form-control' %>
        </div>
        </div>

        <div class="form-group">
          <%= f.label :intro, '自己紹介（255文字未満）' %><br>
          <%= f.text_area :intro, :maxlength => "255", :size => "80x5",  class: 'form-text'  %>
          <div class="char_num">
            0<span>文字</span>
          </div>
        </div>

        <div class="al-c">
        <%= f.submit '更新する', class: 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>

</div>