<div class="contents_row">
  <p class="chat-title">DM</p>
  
  <div class="chat-members">
  <h4>参加者</h4>
    <% @entries.each do |entry| %>
      <a href="/users/<%= entry.user.id %>" class="member-list"><%= entry.user.nickname%>さん</a>
    <% end %>
  </div>

  <hr>
  <% if @messages.present? %>
    <% @messages.each do |message| %>
    <div class="message">
      <div class="message-text">
        <p><%= simple_format(message.content) %></p>
        <p class="message__time"><%= message.created_at.strftime("%Y年%m月%d日 %H時%M分")%></p>
      </div>
      <small>by <a href="/users/<%= message.user_id %>"><%= message.user.nickname %> さん</a></small>
    </div>
    <hr>
    <% end %>
  <% else %>
    <h3 class="text-center">メッセージはまだありません</h3>
  <% end %>

  <%= form_for @message do |f| %>
    <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 80 %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <br>
    <%= f.submit "投稿する", class: "send-btn" %>
  <% end %>

  <%= link_to "ユーザー 一覧に戻る", users_path, class: "index-btn" %>
</div>