<!DOCTYPE html>
<html>
  <head>
    <title>GaMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="container">

        <h1 class="header-left">
          <a href="/">GaMatch</a>
        </h1>

        <div class="menu">
          <i class="fa fa-bars"></i>
        </div>
        <aside class="sidebar">
          <div class="sidebar__inner">
            <i class="fa fa-times-circle sidebar__icon"></i>
          </div>
          <% if user_signed_in? %>
            <%= link_to "ユーザーを探す", users_path, class: "sidebar__txt" %>
            <%= link_to "ログアウト", destroy_user_session_path, class: "sidebar__txt", method: :delete %>
            <%= link_to current_user.nickname, user_path(current_user.id), class: "sidebar__txt" %>
          <% else %>
            <%= link_to "ユーザーを探す", users_path, class: "sidebar__txt" %></li>
            <%= link_to "ログイン", new_user_session_path, class: 'post', class: "sidebar__txt" %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post', class: "sidebar__txt" %>
          <% end %>
        </aside>
        <div class="sidebar-bg"></div>
              

        <% if user_signed_in? %>
          <div class="header-right">
            <%= link_to "ユーザーを探す", users_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to current_user.nickname, user_path(current_user.id) %>
          </div>
        <% else %>
          <div class="header-right">
            <%= link_to "ユーザーを探す", users_path %>
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>

      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Copyright 2020 GaMatch All Rights Reserved.</p>
      </div>
    </footer>
    
  </body>
</html>
