<!DOCTYPE html>
<html>
  <head>
    <title>GaMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="container">

        <h1 class="header-left">
          <a href="/">GaMatch</a>
        </h1>

        <div class="header-right">
          <a href="#" class="users-index">ユーザーを探す</a>
          <a href="#" class="login">ログイン</a>
          <a href="#" class="user-register">新規登録</a>
        </div>

      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Copyright 2020 GaMatch All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
